body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}


.gardeners-galore-icon{
  height : 45px;

}

.content {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

.login-form {
  max-width: 300px;
}

.my-form {
  width: 100%;
}

.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}


/***** GARDEN *****/

.garden-row {
  padding-top: 4px;
  padding-bottom: 4px;
}

.garden-col {
  padding-left: 4px;
  padding-right: 4px;
}

.garden-cell {
  width : 20%;
  height :20%;
  text-align: center;
  color: white;
  transition: all .1s ease-in-out;
  cursor: default;
  user-select: none;
}

.garden-cell:hover {
  transform: scale(0.9);
}

.garden-cell-occupied {
  background-color: rgba(47, 74, 47, .75);
  height: 100%;
}

.garden-cell-unoccupied {
  font-size: 48px;
  background-color: rgba(255, 255, 255, .25);
  height: 100%;
}

.garden-cell-selected {
  outline: #1890ff solid 5px;
}

.garden-card {
  background-image: url("../assets/soil.jpg");
  background-color: #49372e;
  background-size: contain;
}

.garden-plant-icon {
  width : 90%;
  height : 90%;
  margin: 5%;
}

.garden-info {
  background-color: rgba(255, 255, 255, .75);
  width: 30%;
  padding: 30px;
}

.garden-info-p {
  line-height: 3;
}

.garden-size-button {
  font-size: 150%;
  cursor: pointer;
  user-select: none;
  line-height: 1 !important;
}

/*
USER LANDING PAGE

*/

.username{
  bottom: -180px;
  left: -5px;
  position: absolute;
  font-size: 200%;
  text-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

.userlogo img{
  border: 4px solid #fff;
  border-radius: 100%;
}

.userlogo-shadow{
  height: 202px;
  width: 202px;
  background: rgba(0, 0, 0, .15);
  border-radius: 100%;
}

.user-page{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.user-row{
  padding-top : 10px;
}
.user-card{
  width : 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(0, 20, 41) 80%, rgb(255, 255, 255) 20%);
}

.forum-card{
  width : 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(0, 20, 41) 80%, rgb(255, 255, 255) 20%);
  box-shadow: 0 4px 8px rgba(59,64,69,0.2);
}

.gardens-card{
  padding-top : 10px;
}

.gardens-add-button{

}

.blogs-card{
  padding-top : 10px;
}

.fav-plants-card{
  padding-top : 10px;
}

.left-column{
  padding-right: 5px;
}

.right-column{
  padding-left: 5px;
}

.card-shadow{
  box-shadow: 0 4px 8px rgba(59,64,69,0.2);
}
.planting-form{
  width : 100%;
}



.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

/* Navigation bar for desktop version */
.nav-bar {
  padding: 0 1rem;
  z-index: 1;
  width: 100%;
}

.nav-bar-menu {
  line-height: 4rem;
}

.nav-bar-icon {
  text-align: right;
}
/* .about-content {
  padding-top: 2rem;
} */

.weather-search-outer {
  padding: 0 0.5rem;
}

.plantName {
  font-size: 2.5rem;
}

.plantIcon {
  width: 150px;
  padding: 15px;
}
/* 
/* Navigation bar for mobile device */

.error {
  padding: 2rem 2rem;
}

.loading{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
