body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.content {
  min-height: 100%;
  padding: 100px;
  width: 100%;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}


/***** GARDEN *****/

.garden-row {
  padding-top: 4px;
  padding-bottom: 4px;
}

.garden-col {
  padding-left: 4px;
  padding-right: 4px;
}

.garden-cell {
  text-align: center;
  color: white;
  transition: all .1s ease-in-out;
  cursor: default;
  user-select: none;
}

.garden-cell:hover {
  transform: scale(0.9);
}

.garden-cell-occupied {
  background-color: rgba(47, 74, 47, .75);
  height: 100%;
}

.garden-cell-unoccupied {
  font-size: 48px;
  background-color: rgba(255, 255, 255, .25);
  height: 100%;
}

.garden-cell-selected {
  outline: #1890ff solid 5px;
}

.garden-card {
  background-image: url("../assets/soil.jpg");
  background-color: #49372e;
  background-size: cover;
}

.garden-plant-icon {
  margin: 5%;
}

.garden-info {
  background-color: rgba(255, 255, 255, .75);
  width: 30%;
  padding: 30px;
}

.garden-info-p {
  line-height: 3;
}

.garden-size-button {
  font-size: 150%;
  cursor: pointer;
  user-select: none;
  line-height: 1 !important;
}



.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

/* Navigation bar for desktop version */
.nav-bar {
  padding: 0 1rem;
  z-index: 1;
  width: 100%;
}

.nav-bar-menu {
  line-height: 4rem;
}

.nav-bar-icon {
  text-align: right;
}
/* .about-content {
  padding-top: 2rem;
} */

.weather-search-outer {
  padding: 0 0.5rem;
}

.plantName {
  font-size: 2.5rem;
}

.plantIcon {
  width: 150px;
  padding: 15px;
}
/* 
/* Navigation bar for mobile device */

.error {
  padding: 2rem 2rem;
}

.fetching-weather-content {
  padding: 4rem 2rem;
}

.fetching-weather-spinner {
  padding-left: 0.5rem;
}

/* Current weather section */
.current-weather-top {
  background: #fafafa;
  padding: 0.5rem 2rem;
}

.current-weather-top-item {
  text-align: center;
  font-size: 0.8rem;
}

.current-weather-location {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.current-weather-summary {
  padding-top: 1rem;
  font-size: 1rem;
}

.current-weather-icon {
  margin: 0.7rem 1rem 0 0;
}

/* Current weather section */

.forecast-summary {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.forecast-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.daily-forecast-table-outer {
  padding: 1rem 0;
}

.daily-forecast-item {
  font-size: 0.8rem;
}

.daily-forecast-sub-item-wrapper {
  text-align: center;
}

.daily-forecast-sub-item-summary {
  font-size: 0.8rem;
  font-weight: 700;
}

/* Weather chart section */
#weather-chart-wrapper {
  padding: 0 2rem;
}

.weather-chart {
  height: 20rem;
  width: 50rem;
}

.weather-chart-tooltip-time {
  font-size: 0.9rem;
  color: #949494;
  line-height: 1.1rem;
}

.weather-chart-tooltip-item {
  color: #2e2e2e;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 0.5rem;
}
